# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.The Diary.iml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Programmer\Projects\Solution1\The Diary\.idea\.idea.The Diary\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
